h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 2.5em;
  color: teal;
  padding: 0.5em;
  max-width: 60em;
  margin-bottom: 0.5em;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  position: absolute;
  margin: 2em 2em 2em 2em;	
  padding:2em;
  border-radius: 1em;
  background-color: whitesmoke;
  line-height: 1.5;
}
