

#hello {
  font-family: 'Amatic SC', cursive;
  font-size: 6em;
  text-align: center;
  color: teal;
  text-shadow: 2px 3px 0px darkturquoise;
  margin-top: 10%; 
  padding: 0 0.5em 0 0.5em;
  line-height: 0.9em;
}

#name {
  font-family: 'Amatic SC', cursive;
  font-size: 6em;
  text-align: center;
  color: darkturquoise;
  text-shadow: 2px 3px 0px teal;
  margin-top: -0.2em;
  padding: 0 0.5em 0 0.5em;
  line-height: 0.9em;
  
}

#nameintro {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  color: dimgray;
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 1em;
  padding: 0 0.5em 0 0.5em;
  line-height: 2em;
}
